.why-us-section{
    width: 100%;
    margin: 3rem 0;
    padding: 5rem 3rem;
    background: url("../images/whyusbg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    border: 2px solid var(--golden);
}
.why-us-section::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.why-us-section h2{
    position: relative;
}
.why-us-section p{
    max-width: 700px;
    font-size: 12px;
    position: relative;
    text-align: center;
}
.why-us-section .btn-a{
    position: relative;
}